<#include "/common/header.html"/>
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
	<link href="/plugins/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	<script src="/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script src="/js/apps.min.js"></script>
	<script type="text/javascript" src="/plugins/ztree/js/jquery.ztree.core.min.js"></script>
	<script type="text/javascript" src="/plugins/ztree/js/jquery.ztree.excheck.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

<!-- begin #content  基地对应的规则的详情 -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="usersPage">主页</a></li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">角色管理</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
	    <!-- begin col-12 -->
	    <div class="col-md-12">
	        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">数据列表</h4>
                        </div>
                        <div class="panel-body">
                        <form class="form-inline">
                        <@shiro.hasPermission name="/arrturnRules/delete">
                        	<button type="button" onclick="delById();" class="btn btn-info" style="float: right; margin-right: 1px;">删除</button>
					    </@shiro.hasPermission>
					    <@shiro.hasPermission name="/arrturnRules/update">
                        	<button type="button" onclick="update();" class="btn btn-info" style="float: right; margin-right: 1px;">修改</button>
					    </@shiro.hasPermission>
                        <@shiro.hasPermission name="/arrturnRules/add">
                        	<button type="button" onclick="add();" class="btn btn-info" style="float: right; margin-right: 1px;">新增</button>
					    </@shiro.hasPermission>
                        </form>
                    <table class="table table-bordered data-table" id="datatable" >
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="checkall" />
                            </th>
                            <th>基地名称</th>
                            <th>科室名称</th>
                            <th>规培时长</th>
                            <th>类型</th>
                            <th>排序</th>
                        </tr>
                        </thead>
                    </table>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
</div>
<!-- end #content -->


<!--添加弹框-->
<div class="modal fade" id="permissionsModal" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addroleLabel">添加规则</h4>
            </div>
            <div class="modal-body">
                <form id="permissionsForm">
                    <input type="hidden" id="baseName" value="${baseName}" >
                	<input type="hidden" class="form-control" name="id" id="id" placeholder="请输入资源名称"/>
                    <div class="form-group">
                        <label  class="control-label">科室:</label>
                        <select class="form-control" name="roomName" id="roomName" >
                            <#if rooms?? && rooms?size gt 0>
                                <option value='' >全部</option>
                                <#list rooms as room>
                                    <option value='${room.value}'>${room.value}</option>
                                </#list>
                            </#if>
                        </select>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">培训时长:</label>
                        <input type="text" class="form-control" name="period" id="period" placeholder="请输入资源名称"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">排序:</label>
                        <input type="text" class="form-control" id="roomSort" name="roomSort"  placeholder="请输入排序">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="addResources();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--/添加弹框-->

<script type="text/javascript">
    $(".checkall").click(function () {
        var check = $(this).prop("checked");
        $(".checkchild").prop("checked", check);
    });
    var table;
    $(document).ready(function() {
    	table = $('#datatable').DataTable( {
        	"dom": 'rtlip',
        	"ordering": false,
            "searching" : false,
            "sPaginationType": "full_numbers",
            "pageLength": 10,
            "serverSide": true,//开启服务器模式，使用服务器端处理配置datatable
            "processing": true,//开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好
            "language": {
                "Processing": "正在加载中......",
                "zeroRecords": "对不起，查询不到相关数据！",
                "emptyTable": "表中无数据存在！",
                "lengthMenu": "显示 _MENU_ 条记录",
                "infoFiltered": "数据表中共为 _MAX_ 条记录",
                "info": '_START_ 到 _END_ 条,共 _TOTAL_ 条',
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "末页"
                }
             },
            ajax : function(data, callback, settings) {
                //封装请求参数
                var param = getQueryCondition(data);

                $.ajax({
                    type: "GET",
                    url: '/arrturnRules/getByBaseName',
                    cache : false,  //禁用缓存
                    data: param,    //传入已封装的参数
                    dataType: "json",
                    success: function(result) {
                        //封装返回数据  如果参数相同，可以直接返回result ，此处作为学习，先这么写了。
                        var returnData = {};
                        returnData.draw = result.draw;//这里直接自行返回了draw计数器,应该由后台返回
                        returnData.recordsTotal = result.recordsTotal;//总记录数
                        returnData.recordsFiltered = result.recordsFiltered;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.data = result.data;
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询失败");
                    }
                });
            },
            "columns": [
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                    }
                },
                { "data": "baseName" },
                { "data": "roomName" },
                { "data": "period" },
                { "data": "type" },
                { "data": "roomSort" }
            ]
         } );
     } );

     function search(){
         table.ajax.reload();
     }

    function getQueryCondition(){
        var param = {};
        //组装排序参数
        param.baseName = $("#baseName").val();//查询条件
        return param;
    }

    var roomList =[];
    <#if rooms??>
    <#list rooms as room>
    roomList.push("${room.value}")
    </#list>
    </#if>

     //添加用户
     function addResources() {
         var url = '/arrturnRules/add';
         if($('#id').val() != ''){
         	url = '/arrturnRules/update';
         }
         var roomName = $("#roomName").val();
         var period = $("#period").val();
         var roomSort = $("#roomSort").val();
         var roomSort = $("#roomSort").val();


         if(roomName == "" || roomName == undefined || roomName == null){
             return layer.msg('资源名称不能为空', function(){
                 //关闭后的操作
             });
         }
         if(period == "" || period == undefined || period == null){
             return layer.msg('父资源id不能为空', function(){
                 //关闭后的操作
             });
         }
         if(roomSort == "" || roomSort == undefined || roomSort == null){
             return layer.msg('资源链接不能为空', function(){
                 //关闭后的操作
             });
         }

         $.ajax({
             cache: true,
             type: "POST",
             url:url,
             data:$('#permissionsForm').serialize(),// 你的formid
             async: false,
             success: function(data) {
                 if(data=="success"){
                     layer.msg('保存成功');
                     table.ajax.reload();
                     $('#permissionsModal').modal('hide');
                 }else{
                     layer.msg('保存失败');
                     $('#permissionsModal').modal('hide');
                 }
             }
         });
     }


     function add(){
 		$('#permissionsForm')[0].reset();
 		$('#id').val('');
 		$('#permissionsModal').modal();
 	}

     function update(){
     	var $checkchild = $(".checkchild:checked");
     	var id = $checkchild.val();
         if ($checkchild.length < 1) {
             layer.msg('请选择一条数据');
             return;
         }
         if ($checkchild.length > 1){
             layer.msg('一次只能修改一条数据');
             return;
         }
 		$('#addroleLabel').text('修改资源');
 		var $tr = $checkchild.parents("tr[role='row']");
 		var roomName = $tr.children('td:eq(2)').text();
 		var period = $tr.children('td:eq(3)').text();
 		var roomSort = $tr.children('td:eq(4)').text();

 		$('#id').val(id);
 		$('#roomName').val(roomName);
 		$('#period').val(period);
 		$('#roomSort').val(roomSort);

 		$('#permissionsModal').modal();

     }

     function delById() {
         if ($(".checkchild:checked").length < 1)
         {
             layer.msg('请选择一条数据');
             return;
         }
//          if ($(".checkchild:checked").length > 1)
//          {
//              layer.msg('一次只能修改一条数据');
//              return;
//          }
		var ids = [];
		$(".checkchild:checked").each(function(){
			ids.push($(this).val());
		});
         layer.confirm('您确定要删除该资源吗？', {
             btn: ['确认','取消'] //按钮
         }, function(){
             $.ajax({
                 cache: true,
                 type: "POST",
                 url:'/arrturnRules/delete',
                 data:{ids:ids.join(',')},
                 async: false,
                 success: function(data) {
                     if(data=="success"){
                         layer.msg('删除成功');
                         table.ajax.reload();
                     }else{
                         layer.msg('删除失败');
                     }
                 }
             });
         });
     }
 </script>
<#include "/common/footer.html"/>